Django>=2.2.0
requests>=2.20.0
beautifulsoup4>=4.7.0
lxml>=4.4.0
djangorestframework>=3.10.0
python-dotenv>=0.10.0
django-import-export>=1.0.0
whitenoise==3.3.1
dj-database-url==0.4.2
gunicorn==19.7.1
psycopg2==2.7.3.2