{% for tutorial in tutorials %}
  <div class="box">
    <a href="{% url 'app:tutorial_redirect' tutorial.pk %}" target="_blank" id="tutorial-tag">{{ tutorial.title }}</a>
    <div class="tile">
    {% for tag in tutorial.tags.all %}
      <span class="tag">
        <b><a href="{% url 'app:tag-links' tag %}" > 📌 {{ tag }}</a></b>
      </span>&nbsp;
    {% endfor %}
      <button class="fa fa-share-alt is-pulled-right" id="shareIcon" 
      onclick='share("{{ tutorial.title }}","{{ tutorial.link }}")'></button>
    </div>
    <br>
    <span class="tag is-medium" style="background-color: rgb(0, 196, 167); color: white;"><b>{{ tutorial.category }}</b>
    </span>
  </div>
{% endfor %}    
