{% extends 'base.html'%}
{% load staticfiles %}

{% block content %}
<section class="hero is-medium is-primary is-bold">
	<div class="hero-body">
		<div class="container">
			<h1 class="title">About</h1>
			<center>
			<img src="{% static 'app/computer2.svg' %}" height="170" width="170"><br><br>
			</center>
			<ul class="list title is-5">
				<li class="list-item">
					tutorialdb is a small scale search engine for programming/dev tutorials, it is meant to help anyone who is getting started to learn a new technology.
				</li>
	    		<li class="list-item">
	    			The sole purpose of tutorialdb is to help people get to resoures which might help them learn new things for e.g sometimes there are tutorials on personal blogs which do not get indexed in google easily.
	    		</li>
	    		<li class="list-item">
	    			All the content (tutorials) is owned by the respective authors/sites. tutorialdb maintains its own database saving the links to tutorials and some meta info.
	    		</li>
			</ul>
		</div>
	</div>
</section>
{% endblock %}