{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>tutorialdb</title>
	<meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <style type="text/css">
        a.navbar-item {
            cursor: pointer;
            color: white;
        }
      .navbar-menu {
            background-color: #2B2828;
            box-shadow: 0 8px 16px rgba(10,10,10,.1);
            padding: .5rem 0;
        }
    </style>
</head>
<body>
  <nav class="navbar is-active is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="">
      <img src="{% static 'app/tutorialdb.png' %}" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"  style="background-color: white;"></span>
      <span aria-hidden="true"  style="background-color: white;"></span>
      <span aria-hidden="true"  style="background-color: white;"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu is-dark" >
    <div class="navbar-start is-dark">
      <a class="navbar-item" href="/">
        Home
      </a>
      <a class="navbar-item" href="/api">
        API
      </a>
      <a class="navbar-item" href="/latest">
        Latest
      </a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" href="/contribute">
            <strong>Contribute</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
	{% block content %}
	{% endblock content %}
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>tutorialdb</strong> built with 💓 and 🎶 by <a href="https://twitter.com/bhupeshimself">Bhupesh Varshney</a>. 
      The source code is licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>
    </p>
  </div>
</footer>

<script src="{% static 'app/js/burger.js' %}"></script>
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</body>
</html>