{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title" align="center">
        Found a bug 🐛 ❓<br>
        Have a feature ✨ request ❓<br> 
        create an 
		<button class="button is-link" href="" target="_blank">issue</button>
      </h1>
    </div>
  </div>
</section>

<section class="hero is-medium is-success is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title" align="center">Or just,<br>
        <img src="{% static 'app/help.svg' %}" height="100" width="100">
        <br>Help others by submitting tutorials you follow.<br>
        🤗
      </h1>
    </div>
  </div>
</section>
<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
        <form action="/thankyou/" method="post">
          {% csrf_token %}
              <div class="field">
                <label class="label">Link</label>
                <div class="control">
                  <input class="input" type="url" name="tlink" placeholder="paste tutorial link here">
                </div>
            </div>

          <div class="field">
            <label class="label">Type</label>
            <div class="control">
              <div class="select">
                <select name="tcategory">
                    <option value ="video">Video</option>
                    <option value ="article">Article</option>
                    <option value ="course">Course</option>
                    <option value ="docs">Docs</option>
                </select>
              </div>
            </div>
          </div>

          <div class="field is-grouped">
            <div class="control">
              <button class="button is-link" type="submit">Submit</button>
            </div>
          </div>
        </form>
    </div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
  </div>
</section>

{% endblock content %}

