{% extends 'base.html'%}
{% load staticfiles %}
{% block content %}
{% if tutorials %}
<div class="section">
  <h3 class="title">Latest in tutorialdb </h3>
  <div class="container">
    {% for tutorial in tutorials %}
    <div class="box">
      <a href="{{ tutorial.link }}" target="_blank" id="tutorial-tag">{{ tutorial.title }}</a>
      <div class="tile">
      {% for tag in tutorial.tags.all %}
        <span class="tag">
          <b><a href="{% url 'app:tag-links' tag %}" > 📌 {{ tag }}</a></b>
        </span>&nbsp;
      {% endfor %}
        <button class="fa fa-share-alt is-pulled-right" id="shareIcon" 
    onclick='share("{{ tutorial.title }}","{{ tutorial.link }}")'></button>
      </div>
      <br>
      <span class="tag is-medium" style="background-color: rgb(0, 196, 167); color: white;"><b>{{ tutorial.category }}</b>
      </span>
    </div>
    {% endfor %}    
  </div>
</div>
{% else %}
<h2 class="subtitle notification is-primary" style="text-align: center">
<img src="{% static 'app/search404.svg' %}" height="100" width="100" alt="search404">
<br> Ah! Sorry, No Results 🙀
</h2>
{% endif %}
{% endblock %}