{% extends 'base.html' %}
{% block content %}

<div class="section">
  <h2 class="title is-4">Tutorials Tagged 
    <span class="box tag">
      #{{ tag }}
    </span>
  </h2>
  <div class="container">
    {% for tutorial in object_list %}
          <div class="box">
              <a href="{{ tutorial.link }}" target="_blank">{{ tutorial.title }}</a>
              <div class="tile">
                {% for tag in tutorial.tags.all %}
                <span class="tag">
                  <b>📌 {{ tag }}</b>
                </span>&nbsp;
                {% endfor %}
                <button class="fa fa-share-alt is-pulled-right" id="shareIcon"
                  onclick='share("{{ tutorial.title }}","{{ tutorial.link }}")'></button>
              </div>
          </div>
    {% endfor %}
    <div class="field">
      <button class="button is-pulled-left" onclick="window.history.back();">❮ Go Back</button>
    </div>
    <div class="field">
      <a class="button is-pulled-right" href="/tags">See All Tags</a>
    </div>
  </div>
</div>
{% endblock %}
