{% extends 'base.html'%}
{% load static %}
{% block content %}
<center>
  <section class="hero is-medium is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Thanks<br>
          <img src="{% static 'app/emoji1.png' %}" height="50" width="50" alt="hug">
        </h1>
        <img src="{% static 'app/guy.svg' %}" alt="guy">
    	</div>
    	<div class="container">
  	    <div class="field">
          <a href="{% url 'app:contribute' %}" class="button is-pulled-left is-link is-rounded">Submit More</a>
        </div>
        <div class="field">
          <a href="{% url 'app:home' %}" class="button is-pulled-right is-link is-rounded">Search Tutorials</a>
        </div>
      </div>
    </div>
  </section>
</center>
{% endblock %}